{% extends 'admin/adminbase.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-9" >
<div class="container" style="text-align: center;">
  <form class="form-signin" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <img class="mb-4"
      src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-silhouette-of-creative-football-players-png-image_4266550.jpg"
      alt="" width="72" height="72">
      <br>
    <h2 style="color: crimson;">FADEETO</h2>
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Add Categories</h1>
    <br><br>
    <input type="text" id="category" name="category"  class="form-control" placeholder="category" required autofocus>
    <br>
    <input type="file" id="icon" placeholder="icon" name="icon" accept="image/*" class="form-control" required>

    <br>
<br>
    <input class="btn btn-lg btn-primary btn-block" value="Add Category" name="login" id="login" type="submit">
  
  </form>
</div>
</div>
</div>
{% endblock %}