{% extends 'admin/adminbase.html' %}
{% block content %}
<div style="text-align: center;">
  <form class="form-signin" method="POST"  style="margin: auto; display: table ; justify-items: center;">
    {% csrf_token %}
    <img class="mb-4"
      src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-silhouette-of-creative-football-players-png-image_4266550.jpg"
      alt="" width="72" height="72">
      <br>
    <h2 style="color: crimson;">FADEETO</h2>
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Add Facilities</h1>
    <br><br>
    <input type="text" id="facility" name="facility"  class="form-control" placeholder="facility" required autofocus>
    <span id="erroruser" style="text-align: center; color: red;"></span>
    <br>
    
    <br>
<br>
    <input class="btn btn-lg btn-primary btn-block" value="Add Facility" name="login" id="login" type="submit">
  
  </form>
</div>
{% endblock %}