{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-9">

  

<div class="row">
  <div class="col-xl-12">
      <div class="card m-b-30">
          <div class="card-body">
              <h4 class="mt-0 header-title mb-4">Sports Categories</h4>
              <div class="table-responsive">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                            <th scope="col" style="width: 4rem;">id</th>
                            <th scope="col" style="width: 10rem;">Sport Name</th>
                            <th scope="col" style="width: 6rem;">Icon</th>
                            <th scope="col" style="width: 6rem;"></th>
                            <th style="width: 6rem;"></th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for category in categories %}

                        <tr>
                          <th scope="row">{{category.id}}</th>
                          <td>{{ category.sport }}</td>
                          
                          <td><img src="{{ category.ImageURL3 }}" style="width: 3rem; height: 3rem;" alt="" srcset=""></td>
                          <td><a href="/turfadmin/editcategory/{{category.id}}/"><button type="button" class="badge badge-primary" style= "text-align: center; border-radius: 1rem; border: none; width: 6rem;  ">Edit</button></a></td>
                          <td><a href="/turfadmin/deletecategory/{{category.id}}/"><button type="button" class="badge badge-danger" style= "text-align: center; border-radius: 1rem; border: none; width: 6rem;  ">Remove</button></a></td>
                        </tr>
                        {% endfor %}       
                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </div>

</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function() {
        $('#table').DataTable();
    });
</script>

{% endblock %}