{% extends 'users/base.html' %}
{% block content %}

<body style="font-family: 'Open Sans';">
  <section  style="padding-top: 3rem; margin-top: 3rem; margin-left: 5rem; margin-right: 5rem;">

    <div class="container">

      <h1 style="text-align: center; color: maroon;">{{ turf.turfName }}</h1>
    </div>
    <div class="container">
    <p style="text-align: center; color: gray;">{{ turf.address }}</p>
  </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <h1 style=" color: firebrick; text-align: center;">GALLERY</h1>
        <img src="{{ turf.ImageURL }}" width="100%" style="height: 15rem;" alt="" srcset="">
        <img src="{{ turf.ImageURL2 }}" style="margin-top: 1rem; height: 15rem;" width="100%" alt="" srcset="">
       
        <div style="margin-top: 3rem; padding: 1rem; " >
          <button type="button" style="margin: auto; display: block;" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#exampleModalLong">
            Reviews&raquo;
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{turf.turfName}} Reviews</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                  {% for x in comment %}
                  <div style="height: 3rem; width: 3rem; ">
                    <img src="{{x.userDetails.ProfileURL}}" class="rounded" alt="" height="25rem" width="25rem">
                  </div>
                  <div style="color: grey;margin-top: -2.95rem;
                  margin-left: 1.8rem;">
                    {{x.user.username}}
                </div>
                <div>
                  {{x.comment}}
                </div>
                <br>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>     
           </div>
      </div>

      <div class="col-md-8 col-12">


        <div class="row">
          <div class="col-md-8">
            <h1 style="text-align: center; color: maroon;">Price</h1>
            <table class="table">
              <tbody>

                {% for price in sportprice %}
                <tr>
                  <th style="text-align: center; color: olive;" scope="col">{{ price.category.sport }}</th>
                  <td>{{ price.price }}</td>

                  <!-- <p style="color: olive; text-align: center;">(Booking for 1 hour at a time)</p> -->
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <p style="color: olive; text-align: center;"></p> -->
            <table class="table">
              <thead>
                <tr>
                    <h3 style="text-align: center; color: maroon;">Time Periods </h3>

                  <p style="color: olive; text-align: center;">(Booking for 1 hour at a time)</p>

                </tr>
              </thead>
              <tbody>
                {% for time in turf.timePeriod %}
                <tr>
                  <button class="rounded" style="border-radius: 1rem; border: none;">{{ time }}</button>&nbsp;
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <h3 style="text-align: center; color: maroon;">Map</h3>
            <br>
            <div class="row" >
              <i class="icofont-rounded-right"></i> <a
                href="https://maps.google.com/maps?q=Mahe&t=&z=13&ie=UTF8&iwloc=&output=embed"></li></a><iframe
                src="https://maps.google.com/maps?q={{turf.address}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0; display: flex; margin: auto;" allowfullscreen></iframe>
            </div>
            <br>
            <br>
            <div>

            </div>
            <div class="container" style="align-items: center; justify-items: center;">
              <a href="/userbooking/{{ turf.id }}/"><button type="button" class="btn-success"
                  style="align-items: center; text-align: center; display: grid; margin: auto; border: 0; border-radius: 1rem; height: 5rem; width: 10rem;">BOOK
                  TURF</button></a>
            </div>

          </div>
          <div class="col-md-4">
            <h3 style="text-align: center; color: maroon;">Sports Available</h3>
            <div>
              <br>
            </div>
            <div class="row" style="justify-content: center;" >
              {% for sport in sportprice %}
              <img src="{{ sport.category.ImageURL3 }}" style="margin: auto; width: 7rem; height: 7rem;"
                alt="" srcset="">
              {% endfor %}
               
            </div>
            <br>
            <br>
            <h3 style="text-align: center; color: maroon; margin: 1rem;">Facilities</h3>
            {% for facility in facility %}
            <div style="text-align: center; ">
              <h5 style="color: olive;">{{ facility.facilities.facility }}</h5>
            </div>
            {% endfor %}

            <h3 style=" color: firebrick; text-align: center; margin-top: 2rem;">Description</h3>
            <div style="text-align: center; ">
<br>
           <p>{{turf.description}}</p>
            </div>
          </div>

        </div>
      </div>
     

    </div>

    </div>
    </div>
  </section>
  {% endblock %}